[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/vim-hcl"]
	path = pack/plugins/start/vim-hcl
	url = https://github.com/b4b4r07/vim-hcl.git
[submodule "pack/plugins/start/vim-jsonnet"]
	path = pack/plugins/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "pack/plugins/start/vim-jq"]
	path = pack/plugins/start/vim-jq
	url = https://github.com/vito-c/jq.vim.git
[submodule "pack/plugins/start/vim-nix"]
	path = pack/plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "pack/plugins/start/markdown-preview"]
	path = pack/plugins/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/vim-buf"]
	path = pack/plugins/start/vim-buf
	url = https://github.com/bufbuild/vim-buf.git
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
